body {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background-color: #e1e1e1;
  background-image: url(../images/rectangle.png), url(../images/ellipse2.png),
    url(../images/ellipse6.png), url(../images/ellipse5.png),
    url(../images/ellipse3.png), url(../images/ellipse4.png),
    radial-gradient(80.42% 80.42% at 50% 100%, #000000 0%, #141414 100%);
  background-repeat: repeat, no-repeat, no-repeat, no-repeat, no-repeat,
    no-repeat, no-repeat;
  background-position: 0, 0 100%, 0 calc(100% - 50px), 50px 100%, 100% 0,
    calc(100% - 100px) 0, 0;
  & > main {
    overflow: hidden;
  }
}

.logo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

  @media screen and (min-width: $phone) {
    padding: 25px 0;
  }

  @media screen and (min-width: $tablet) {
    padding: 30px 0;
  }

  @media screen and (min-width: $desktop) {
    padding: 46px 0;
  }
}

.icon {
  &.country {
    width: 129px;
    height: 26px;
  }
  &.man {
    width: 145px;
    height: 65px;

    @media screen and (min-width: $tablet) {
      width: 227px;
      height: 102px;
    }
  }
}
