@font-face {
  font-family: 'Codec Pro';
  font-weight: 300;
  src: url(../fonts/CodecPro-Light.woff2) format('truetype');
}

@font-face {
  font-family: 'Codec Pro';
  font-weight: 500;
  src: url(../fonts/CodecPro-Bold.woff2) format('truetype');
}

@font-face {
  font-family: 'Codec Pro';
  font-weight: 600;
  src: url(../fonts/CodecPro-ExtraBold.woff2) format('truetype');
}
